<h1>Review</h1>
<form class="general-form" [formGroup]="reviewForm">
    <div class="form-row">
        <mat-form-field>
            <mat-label>description</mat-label>
            <input type="textarea" matInput formControlName="text">
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field>
            <mat-label>stars</mat-label>
            <mat-select formControlName="rating">
                <mat-option *ngFor="let option of ratingOptions" [value]="option">
                    {{option}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <app-camera (getPicture)="handleImage($event)"></app-camera>

    <div class="webcam-image" *ngIf="webcamImage">
        <img [src]="webcamImage.imageAsDataUrl" />
    </div>


    <div class="form-row">
        <button mat-flat-button color="warn" (click)="abort()" class="abort-button">
            abort
        </button>
        <button mat-flat-button color="primary" (click)="sendReview()" class="register-button"
            [disabled]="reviewForm.invalid">
            Send Review
        </button>
    </div>
</form>