<h1 class="title">Delete restaurant account</h1>

<div class="form-row">
	<mat-form-field>
		<input
			[formControl]="mail"
			matInput
			type="text"
			class="input"
			name="email"
			id="mail"
			autocomplete="email"
			placeholder="E-mail"
		/>
		<mat-error *ngIf="mail.hasError('required')">Please input the e-mail of the account</mat-error>
		<mat-error *ngIf="mail.hasError('email')">E-mail adress not valid</mat-error>
	</mat-form-field>
</div>

<div class="form-row">
	<button (click)="reset()" class="reset-button" mat-flat-button color="primary" [disabled]="mail.invalid || wasDeleted">Delete account</button>
</div>
<p *ngIf="wasDeleted">The account was deleted.</p>

<div class="login">
	<a routerLink="/login/restaurant-login">Login</a>
</div>
