<h1>Neues Restaurant registrieren</h1>

<form class="general-form" [formGroup]="createForm" (ngSubmit)="register()">
	<div class="form-row">
		<mat-form-field>
			<input
				type="text"
				name="name"
				matInput
				formControlName="name"
				placeholder="Name des Restaurants"
				autocomplete="restaurant-name"
			/>
			<mat-error>Bitte gebe den Namen des Restaurants ein</mat-error>
		</mat-form-field>
	</div>
	<div class="form-row">
		<mat-form-field>
			<input
				type="email"
				name="email"
				matInput
				formControlName="email"
				placeholder="E-Mail"
				autocomplete="email"
			/>
			<mat-error *ngIf="createForm.controls.email.hasError('required')">Bitte gebe eine E-Mail Adresse ein</mat-error>
			<mat-error *ngIf="createForm.controls.email.hasError('email')">Keine gültige E-Mail Adresse</mat-error>
		</mat-form-field>
	</div>
	<div class="form-row">
		<mat-form-field>
			<input
				type="password"
				name="password"
				matInput
				formControlName="Passwort"
				placeholder="Passwort"
			/>
			<mat-error>Bitte gebe ein Passwort ein</mat-error>
		</mat-form-field>
	</div>
	<div class="form-row">
		<mat-form-field>
			<input
				type="password"
				name="password-repeat"
				matInput
				formControlName="passwordRepeat"
				placeholder="Passwort wiederholen"
				[errorStateMatcher] = "matcher"
			/>
			<mat-error *ngIf="createForm.hasError('notSame')">Die eingegebenen Passwörter stimmen nicht überein</mat-error>
		</mat-form-field>
	</div>
	<div class="form-row">
		<mat-form-field>
			<input
				type="number"
				name="phoneNumber"
				matInput
				formControlName="phoneNumber"
				placeholder="Telefonnummer"
			/>
			<mat-error>Bitte gebe die Telefonnummer des Restaurants ein</mat-error>
		</mat-form-field>
	</div>
	<div class="form-row">
		<mat-form-field>
			<mat-label>Typ des Restaurants</mat-label>
			<mat-select>
				<mat-option restaurantType = 0>
					Alles
				</mat-option>
				<mat-option restaurantType = 1>
					Italienisch
				</mat-option>
				<mat-option restaurantType = 2>
					Asiatisch
				</mat-option>
				<mat-option restaurantType = 3>
					Türkisch
				</mat-option>
				<mat-option restaurantType = 4>
					Mexikanisch
				</mat-option>
				<mat-option restaurantType = 5>
					Deutsch
				</mat-option>
				<mat-option restaurantType = 6>
					Burger
				</mat-option>
			</mat-select>
			<mat-error>Bitte wähle die primär angebotenen Speisen bzw. die Art des Restaurants aus</mat-error>
		</mat-form-field>
	</div>
	<div class="form-row">
		<button
			mat-flat-button
			color="primary"
			type="submit"
			class="register-button"
			[disabled]="createForm.invalid"
		>
			Registrieren
		</button>
	</div>
</form>

<div class="login">
	<a routerLink="/login">Anmelden</a>
</div>
