<h1>Registrieren</h1>

<form class="general-form" [formGroup]="createForm" (ngSubmit)="register()">
	<div class="form-row">
		<mat-form-field>
			<input
				type="text"
				name="firstname"
				matInput
				formControlName="firstname"
				placeholder="First name"
				autocomplete="given-name"
			/>
			<mat-error>Please input your first name</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input
				type="text"
				name="lastname"
				matInput
				formControlName="lastname"
				placeholder="Surname"
				autocomplete="family-name"
			/>
			<mat-error>Please input your surname</mat-error>
		</mat-form-field>
	</div>
	<div class="form-row">
		<mat-form-field>
			<input
				type="email"
				name="email"
				matInput
				formControlName="email"
				placeholder="E-mail"
				autocomplete="email"
			/>
			<mat-error *ngIf="createForm.controls.email.hasError('required')">Please input an e-mail adress</mat-error>
			<mat-error *ngIf="createForm.controls.email.hasError('email')">E-mail adress not valid</mat-error>
		</mat-form-field>
	</div>
	<div class="form-row">
		<mat-form-field>
			<input
				type="password"
				name="password"
				matInput
				formControlName="password"
				placeholder="Password"
			/>
			<mat-error>Please choose a password</mat-error>
		</mat-form-field>
	</div>
	<div class="form-row">
		<mat-form-field>
			<input
				type="password"
				name="password-repeat"
				matInput
				formControlName="passwordRepeat"
				placeholder="Repeat password"
				[errorStateMatcher] = "matcher"
			/>
			<mat-error *ngIf="createForm.hasError('notSame')">The passwords don't match</mat-error>
		</mat-form-field>
	</div>
	<div class="form-row">
		<button
			mat-flat-button
			color="primary"
			type="submit"
			class="register-button"
			[disabled]="createForm.invalid"
		>
			Register
		</button>
	</div>
</form>

<div class="login">
	<a routerLink="/login">Login</a>
</div>
