<mat-card class="navigateCard" routerLink="../category">
    <mat-card-header>{{selCategory.name}}</mat-card-header>
</mat-card>
<div *ngFor="let restaurant of this.restaurantArray; let i = index">
    <mat-card class="restaurantCard" (click)="showProduct(restaurant)">
        <mat-card-header>
            <mat-card-title>{{restaurant.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img class="img" [src]="restaurant.logo" alt="Photo of restaurant">
        </mat-card-content>
    </mat-card>
</div>