<mat-card class="navigateCard" routerLink="../category">
    <mat-card-header>{{selCategory.name}}</mat-card-header>
</mat-card>
<div *ngFor="let restaurant of restaurantArray; let i = index">
    <mat-card class="restaurantCard" (click)="showMenu(i)">
        <mat-card-header>
            <mat-card-title>{{restaurant.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of food">
        </mat-card-content>
    </mat-card>
</div>